<!DOCTYPE html>
<html>
  <head>
    <title>Magicland | <%= @title %></title>
  </head>
  
  <body id="home.html">
    <h1 id="sample_app">Sample App</h1>
    <p>
      This is the home page for the 
      <a href="http:llrailstutorial.org/">Ruby on Rails Tutorial</a>
      sample application
    </p>
  </body>
</html>